#product-details {
  display: inline-block;
}

#main-product-image {
  margin-top: 1em;
  margin-right: 1em;
  min-height: 392px;
}

#main-product-prev-price {
  text-decoration: line-through;
}

#dropdown-item-mp:hover {
  background-color: #DBEEF3;
  cursor: pointer;
}

#dropdown-item-mp {
  text-align: center;
}

#quantity-button {
  margin-left: 1em;
}